@charset "UTF-8";
/* CSS Document */

@-moz-@viewport{ width: device-width; scale: 1;}
@ms-@viewport{ width: device-width; scale: 1;}
@-o-@viewport{ width: device-width; scale: 1;}
@-webkit-@viewport{ width: device-width; scale: 1;}
@viewport{ width: device-width; scale: 1;}

html{
	@-moz-text-size-adjust:100%;	
	@-ms-text-size-adjust:100%;	
	@-o-text-size-adjust:100%;	
	@-webkit-text-size-adjust:100%;	
	text-size-adjust:100%;
}



html {
	font-family: 'Andika', sans-serif;
	margin:0;
	padding:0;
}

body{
	background-image: url("../images/diagonal_waves.png");

}

img{
	width:100%;
}

/*SEARCH BAR
.searchbar {
float: right;
}
*/



/*banner*/
.pool{
	display: block;
	text-align: center;
	color: white;
	background-attachment: fixed;
}

.logo{
	margin:-14rem 40%;
	padding-top:15rem;
	padding-bottom: 0rem;
	margin-bottom: 1rem;
	width: 20%;
	display: block;

}


.main{
	width:100%;
	padding: 3rem 1.5rem;


}


.header h1{
	margin-bottom:1rem;
	padding:1rem;
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	color: blue;
	text-align: center;


}

@media only screen and (min-width: 62.5em){
	.header h1{
		text-align: left;
	}
}


/* WELCOME AREA*/
.main h2{
	font-size: 1rem;
	text-align:center;
/*	padding: 1 rem;	
*/	margin-top: -2rem;
	margin-bottom: 1rem;
	color: pink;
}

	

/*small paragraph in the schedule area*/
.main2 p{
	font-size:1rem;
	line-height:1rem;
	text-align:left;
	margin-bottom:.5rem;
	margin-left: 1rem;
	margin-right:.5rem;
	margin-top:.5rem;
	font-weight: bold;
	color: purple;

}

@media only screen and (min-width: 31.25em ){

	.main2 p{
		margin:1rem 2.25rem 1rem; 
		color: blue;
	}
}

/*HOURS SCHED*/

.list{
	color: yellow;
	margin-left: 1rem;
	line-height: 1.25rem;
	margin-bottom: 3rem;
	overflow: auto;
	height: auto;
}



.list dt{
	font-weight: bold;
	color:green;
	font-size: 1.5rem;
	margin-bottom: .5rem;
	margin-top: 1rem;
}

.list dd{
	line-height: 1rem;	
}

.list li{
	height: 17rem;
}

.schedule .list li{
	height: 10rem;
}

.table{
	display: none;
}

/*PRICES*/



.price-table{
	display: none;
}



/*.p{
	color: red;
	font-style: italic;
}*/

/*@media only on screen and (min-width: 25em){
	.main2 p{
	margin: 1rem;

	}

}
*/

footer p{
	font-size:.75rem;
	font-family:"MS Serif", "New York", serif;
	padding-left: .5rem;
}

/*Navigation Styles*/
.hide-text{
	text-indent: 100%;
	white-space:nowrap;
	overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 100px;
	right:5%;
	background: lightblue url('../images/nav-icon.svg') no-repeat center center;

}

.nav-top{
	display: block;
}

.nav-btn[data-state="active"] {
	background: black url('../images/nav-close.svg') no-repeat center center;
}

/*.nav li{
	float:left;
	width:33.33%;
	padding-top: .5rem;
	text-align: center;*/

.nav a,
.nav a:link,
.nav a:visited{
	background-color: #ABDDEB;
	text-align: center;
	display:block;
	color: blue;
	font-weight: bold;
	padding: .75rem;
	margin: 0;
	height: 40px;
	text-decoration: none;


}

.nav a:hover,
.nav a:focus,
.nav a:active{
	background-color: grey;
}

/*toggle nav css*/

.nav-top{
	display: none;
}

.nav-top[data-state='expanded']{
	display:block;
}



/*half small/medium size screen look*/
/*NAVIGATION BAR*/

@media only screen and (min-width:31.25em){
.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: none
}

	.nav{
		overflow: auto;
	}

	.nav li{
		float:left;
		width:33.33%;
		padding-top: .5rem;
		text-align: center;

	}
	.nav-top{
		display: block;
	}

/*BIG SCREEN w/. side nav bar*/
@media only screen and (min-width: 62.5em){
	
	header{
		float:left;
		width: 25%;
	}

	.main{
		float:right;
		width:75%;
		margin-top:4rem;

	}

	.main2{
		float:right;
		width:70%;
	}

	.main2 p{
		font-size:1.25rem;
		line-height:1.25rem;
		text-align:left;
		margin-bottom:.5rem;
		margin-left: 1rem;
		margin-right:.5rem;
/*		margin-top:10rem;
*/		font-weight: bold;
		color: purple;

}

	.nav-top{
		float:none;
		clear: both;
		max-height: 15rem;
	}

	.nav-top li{
		display:block;
		border:  2px solid grey;
		clear: both;
		width: 85%;

	}

	.nav a,
	.nav a:link,
	.nav a:visited,
	.nav{
		text-align: left;

	}

	footer{
		clear:both;
	}
	.copyright{
		width: auto;
		margin:1rem;
	}
}

/*CONTEXT AREA*/

	.header h1{
	font-size: 2rem;
}
	.main h2{
	font-size: 1.5rem;
}
	.main p{
		font-size:1rem;
		line-height: 1.25rem;
	}
	
	footer p{
	font-size:.80rem;
	}
}


/*@media only screen and (min-width: 55em){
	.home img{
		float: right;
		width: 50%;
		margin:0 0 2rem 1rem;
	}

	.feature{
		overflow: auto;
	}
}*/



/*Hours-list*/

/* @ 500px screen*/
@media only screen and (min-width: 31.25em ){
	.list{
		
	}

	.list li{
		width: 30%;
		margin:1.5%;
		float: left;
		color:orange;
	}

}

/*SCHED/ HOURS table*/

.table{
	margin-top: 3rem;
	margin-bottom:3rem;
	margin-left: 1rem;
	margin-right: 1rem;
/*	padding: -10rem;
*/	background-color:royalblue;
	text-align: center;
/*	width: 50%;
*/}


.table thead{
}

.table th,
.table td{
	padding: 1rem;
	text-align: center;
	border: solid;
	color:white;

}

.table{
	width:90%;
	display: none;
	
}

/*@media only screen and (min-width: 42.5em){

}*/

/*Big screen size*/
@media only screen and (min-width: 56.25em){
	.table{
		display: table;
	}

	.list{
		display: none;
	}
}





